<nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan">
    <!-- Si inici贸 sesi贸n... -->
                <a class="navbar-brand font-bold" href="/tasks">MisNotas</a>
                {{#if user}}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/tasks/add"><i class="fa fa-sticky-note success"></i> Agregar nota <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tasks"><i class="fa fa-list-alt"></i> Mis notas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Cuenta </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item" href="/profile">Mi perfil</a>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
                {{/if}}
                <!-- Fin navegacion si inici贸 sesi贸n -->
            </nav>